<!DOCTYPE html>
<html>
<head>
    <title>Agregar Ticket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="pagina-nosotros">
    <div class="sidebar">
        <div class="user-info">
            <h2>Hola, <span id="nombreUsuario">{{ usuario }}</span></h2>
        </div>
        <nav>
            <ul>
                <li><a href="/nosotros" class="nav-link">Home</a></li> 
                <li><a href="/agregar-ticket" class="nav-link active">Agregar Ticket</a></li>
                <li><a href="/lista-tickets" class="nav-link">Lista de Tickets</a></li>
                <li><a href="/logout" class="nav-link logout-btn">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </div>

    <main class="contenido-principal">
        <h1>Agregar Nuevo Ticket</h1>
        <form method="POST">
            <div class="input-container">
                <input type="text" name="numero" placeholder="Número de Ticket" required>
            </div>
            <div class="input-container">
                <input type="text" name="analista" placeholder="Nombre del Analista" required>
            </div>
            <div class="input-container">
                <select name="status" required>
                    <option value="">Seleccione Status...</option>
                    <option value="Abierto">Abierto</option>
                    <option value="En Proceso">En Proceso</option>
                    <option value="Cerrado">Cerrado</option>
                </select>
            </div>
            <div class="input-container">
                <input type="text" name="cliente" placeholder="Nombre del Cliente" required>
            </div>
            <button type="submit">Guardar Ticket</button>
        </form>
    </main>
</body>
</html>